.footer {
  background: #346cfc;
  color: white;

  .links {
    ul {
      list-style-type: none;
    }
    li a {
      color: white;
      transition: color 0.2s;
      &:hover {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
  .about-company {
    i {
      font-size: 25px;
    }
    a {
      color: white;
      transition: color 0.2s;
      &:hover {
        color: #aaaaaa;
      }
    }
  }
  .location {
    i {
      font-size: 18px;
    }
  }
  .copyright p {
    border-top: 1px solid rgb(255, 255, 255);
  }
}

.list-footer {
  a {
    text-decoration: none;
    color: white;
  }
  &:hover {
    color: #aaaaaa;
  }
}
